<<<<<<< HEAD
#div1{
  color: red;
}

#div2{
  color: green;
}   

.wrapper{
  margin: 20px;
}

.wrapper > div:not(.text){
  background: yellow;
  margin: 5px;
}

.wrapper > .text > div.desc{
  background: red;
}

.wrapper > .text > spam.desc.italic{
  font-family: 'Courier New', Courier, monospace;
}

.wrapper > .text > span.desc.italic + span{
  color: pink !important;
}

.wrapper > .text > span.desc.italic ~ span{
  color: grey;
}


.bold{
  font-weight: bold;
  font-size: 1.2em;
}

.italic{
  font-style: italic;
  font-size: 1.1em;
}

table{
  border-collapse: collapse;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQU8Afw8_Xqhsm1DSvDCPWhejXVvuRlW57SuDSb0klq9j6r3t2d');
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

table thead tr th{
  padding-right: 10px;
}

table tbody tr td{
  text-align: center;
  padding: 10px 0;
  
}

/* table thead tr th,
table tbody tr td{
  border: 1px solid black;
} */

table > * > tr > *{
  border: 1px solid black;
}

table thead tr th:hover{
  cursor: pointer;
}
=======
#div1{
  color: red;
}

#div2{
  color: green;
}   

.wrapper{
  margin: 20px;
}

.wrapper > div:not(.text){
  background: yellow;
  margin: 5px;
}

.wrapper > .text > div.desc{
  background: red;
}

.wrapper > .text > spam.desc.italic{
  font-family: 'Courier New', Courier, monospace;
}

.wrapper > .text > span.desc.italic + span{
  color: pink !important;
}

.wrapper > .text > span.desc.italic ~ span{
  color: grey;
}


.bold{
  font-weight: bold;
  font-size: 1.2em;
}

.italic{
  font-style: italic;
  font-size: 1.1em;
}

table{
  border-collapse: collapse;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQU8Afw8_Xqhsm1DSvDCPWhejXVvuRlW57SuDSb0klq9j6r3t2d');
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

table thead tr th{
  padding-right: 10px;
}

table tbody tr td{
  text-align: center;
  padding: 10px 0;
  
}

/* table thead tr th,
table tbody tr td{
  border: 1px solid black;
} */

table > * > tr > *{
  border: 1px solid black;
}

table thead tr th:hover{
  cursor: pointer;
}
>>>>>>> 76bfb07023398906ff9ceb83430c8d6183428292
