/* .first{
  font-size: 1rem;
  margin: 20px;
}

.second{
  font-size: 2rem;
  margin: 20px;
}

.thrid{
  font-size: 3rem;
  margin: 20px;
}

.four{
  font-size: 4rem;
  margin: 20px;
} */
body > :nth-child(4n-3){
  font-size: 4rem;
  margin: 20px;
}
body > :nth-child(4n-2){
  font-size: 4rem;
  margin: 20px;
}
body > :nth-child(4n-1){
  font-size: 4rem;
  margin: 20px;
}
body > :nth-child(4n){
  font-size: 4rem;
  margin: 20px;
}

div > :nth-child(7n-6){
  background-color: red;
}
div > :nth-child(7n-5){
  background-color: orange;
}
div > :nth-child(7n-4){
  background-color: yellow;
}
div > :nth-child(7n-3){
  background-color: green;
}
div > :nth-child(7n-2){
  background-color: blue;
}
div > :nth-child(7n-1){
  background-color: darkblue;
}
div > :nth-child(7n){
  background-color: violet;
}

